<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.campusemploydemo.mapper.CampusMapper">
    <resultMap id="BaseResultMap" type="com.jc.campusemploydemo.domain.Campus">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="awDepartment" column="aw_department" jdbcType="VARCHAR"/>
        <result property="award" column="award" jdbcType="VARCHAR"/>
        <result property="awTime" column="aw_time" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List" >
    id, user_id, aw_department,award,aw_time
  </sql>
    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from campus
        where user_id = #{userId,jdbcType=INTEGER}
    </select>

    <update id="updateByUserIdSelective" parameterType="com.jc.campusemploydemo.domain.Campus" >
        update campus
        <set >
            <if test="aw_department != null" >
                aw_department = #{awDepartment,jdbcType=VARCHAR},
            </if>
            <if test="award != null" >
                award = #{award,jdbcType=VARCHAR},
            </if>
            <if test="aw_time != null" >
                aw_time = #{awTime,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id= #{userId,jdbcType=INTEGER}
    </update>
</mapper>
