<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jc.campusemploydemo.mapper.UserMapper">
    <resultMap id="resumeMapper" type="com.jc.campusemploydemo.domain.User">
        <id property="uid" column="uid" jdbcType="INTEGER"/>
    </resultMap>
    <select id="showUserCount" resultType="java.lang.Integer">
        SELECT
	MAX( uid ) AS uid
FROM `user`
    </select>

</mapper>